<md-sidenav-container fullscreen>
  <md-sidenav #start opened="false" mode="side">
    <!--Iterate all menu items-->

<!--
    <div style="margin: 8px" *ngFor="let menu of menuService.GetMenuItems()">
      <a [routerLink]="[menu.path]" class="mdl-badge">{{menu.description}}</a>
    </div>
    -->

    <!-- <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>-->
    <md-list-item *ngFor="let menu of menuService.GetMenuItems()">
      <button ngClass="menuButtonLink"  md-button color="accent" [routerLink]="[menu?.path]">
        <md-icon ngClass="menuIcon" md-font-set="material-icons">{{menu?.icon}}</md-icon>
        {{menu?.description}}
      </button>
    </md-list-item>
  </md-sidenav>

  <md-toolbar color="primary" class="flex-container">
    <button  md-button class="md-icon-button" (click)="start.toggle()" aria-label="Settings">
      <md-icon md-font-set="material-icons">menu</md-icon>
    </button>
    <h2 class="flex-grow-header">Cyberdyme Ng Demo</h2>
    <span flex></span>
    <button md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-set="material-icons">more_vert</md-icon>
    </button>
  </md-toolbar>

  <div #sideNavContainer class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
